/* ===== normalize.css ===== */
/* Сбрасывает и выравнивает стандартные стили браузера */

/* Базовая типографика */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

/* Убираем внешние отступы у body */
body {
    margin: 0;
}

/* Элементы заголовков и текста */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: normal;
}

/* Списки */
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Ссылки */
a {
    background-color: transparent;
    text-decoration: none;
    color: inherit;
}

/* Изображения */
img {
    border-style: none;
    max-width: 100%;
    display: block;
}

/* Таблицы */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Формы */
input,
button,
textarea,
select {
    font: inherit;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    color: inherit;
}

/* Кнопки и курсоры */
button,
[type="button"],
[type="reset"],
[type="submit"] {
    webkit-appearance: button;
    cursor: pointer;
}

/* Убираем стрелки у input[type=number] */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}